# Salin file ini menjadi .env.local (untuk lokal) lalu isi dengan nilai
# dari Project Settings > API di dashboard Supabase kamu.
# Saat deploy ke Vercel, isi 2 variabel ini di Project Settings > Environment Variables.
#GmTsb5wBQHPkHFtt pw db
VITE_SUPABASE_URL=https://xxxxxxxxxxxx.supabase.co
VITE_SUPABASE_ANON_KEY=ey...anon-public-key-kamu
